# Flask== 2.2.2
# Flask-SQLAlchemy<=3.0.2
# requests == 2.26.0
# flask-admin==1.5.8
# Werkzeug==2.2.2

Flask==2.2.2
Flask-Admin>=1.6.0,<=1.6.1
Flask-SQLAlchemy>=2.5.1,<=3.0.0
requests>=2.25.1
Werkzeug==2.2.2
PyMysql == 1.1.1
Flask-RESTful == 0.3.10